#section1{
    margin-top: 100px;
}

#section1 h1{
    text-align: center;
}

#section1 img{
    display: block;
    margin: 0 auto;
    width: 250px;
    margin-bottom: 50px;
}

.logo img{
    width: 40px;
}

.editActivityLink{
    text-align: center;
    margin-bottom: 10px;
}

.supprAccountLink{
    text-align: center;
    padding-bottom: 10px;
}

.navbar{
    background-color: white;
    border: none;
}

.navbarNoPadding{
    color: #3a3737 !important;
    font-size: 18px;
}

.navbar-brand{
    color: #3a3737 !important;
    font-size: 20px;
}

#section2{
    background-color: #00ACEF;
    margin-top: 100px;
    padding: 70px 0;
}

.vitrineTrois{
    padding: 0 40px;
    color: white;
}

footer{
    background-color: #3a3737;
}

footer p{
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0px;
}

.loginForm{
    background-color: #EEF2F5;
    max-width: 700px;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 5px 0;
    box-shadow: rgb(0 0 0 / 16%) 0px 1pt 4pt, rgb(0 0 0 / 8%) 0px 2pt 8pt;
}

.mailForm{
    margin: 20px 30px;
}

.login-box-msg{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    color: #555;
}

#btnLogin{
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.login-msg{
    text-align: center;
}

#section3{
    margin-top: 100px;
}

#erreur2{
    text-align: center;
    color: red;
}

.conteneur{
    width: 75%;
    position: relative;
}

.notifyBanner{
    width: 100%;
    position: absolute;
    top: 90px;
    z-index: 1;
}

.navbarNoPadding{
    padding-right: 10px !important;
}

.liUp{
    margin-top: 5px;
}

.liDown{
    margin-bottom: 5px;
}

.navbar .navbar-collapse{
    text-align: center;
}

.navbar li a{
    color: #00ACEF !important;
    font-size: 20px;
    padding: 10px;
    padding-right: 60px;
}

.navbar-default .navbar-toggle{
    border-style: none;
    margin-top: 24px;
}

#myNavbar{
    margin: 0 20px;
    font-weight: bold;
    background-color: #fff;
}

.navbar-item{
    margin-top: 15px;
}

.navbar-brand{
    font-size: 23px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px !important;
}

.profil{
    background-color: #EEF2F5;
    box-shadow: rgb(0 0 0 / 16%) 0px 1pt 4pt, rgb(0 0 0 / 8%) 0px 2pt 8pt;
    border-radius: 10px;
}

.display-1{
    color: #555;
    font-weight: bold;
    text-align: center;
}

.display-2{
    color: #555;
    text-align: center;
    padding-bottom: 50px;
}

.divAvatar{
    padding-top: 20px;
}

#section4{
    padding-top: 100px;
}

.imgAct{
    width: 100%;
}

.myActivity{
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1pt 4pt, rgb(0 0 0 / 8%) 0px 2pt 8pt;
    margin: 0 auto;
    margin-bottom: 20px !important;
    width: 50%;
    cursor: pointer;
}

.myActivity:hover{
    background-color: #EFEFEF;
}

.myActivity span{
    display: block;
    text-align: center;
}

.boiteReception{
    text-align: center;
    margin-bottom: 30px;
}

.actNom{
    font-size: 25px;
    display: block;
    text-align: center;
}

.actDescription{
    font-size: 20px;
    font-style: italic;
    display: block;
    width: 60%;
    word-wrap: break-word;
    margin: auto;
    text-align: center;
}

.actPrix{
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

.modifyProfil{
    margin-left: 10px;
}

.actOffer{
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 20px;
}

#section6{
    margin-top: 100px;
}

.avatarPicture{
    margin-top: 10px;
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

#avatarPicture2 {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: top center;
    margin-bottom: 20px;
}

#avatarPicture3 {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: top center;
    margin-bottom: 20px;
}
.validButton{
    color: green;
    background-color: white;
    border-radius: 2px;
}

.cancelButton{
    color: red;
    background-color: white;
    border-radius: 2px;
}